<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dreissena</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ asset('css/blog-home.css') }}" rel="stylesheet">
    <link href="{{ asset('css/login.css') }}" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">Deissena</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                {% if is_granted('ROLE_USER') %}
                    <li class="nav-item {% if app.request.get('_route') == 'app_home' %} active {% endif %}">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item {% if app.request.get('_route') == 'user_post_new' %} active {% endif %}">
                        <a class="nav-link" href="/user/post/new">Bericht plaatsen</a>
                    </li>
                    <li class="nav-item {% if app.request.get('_route') == 'app_logout' %} active {% endif %}">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item {% if app.request.get('_route') == 'app_home' %} active {% endif %}">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item {% if app.request.get('_route') == 'app_login' %} active {% endif %}">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">
    {% block main %}{% endblock %}
</div>
<!-- /.container -->

<!-- Footer -->
{% block footer %}
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Dreissena 2019</p>
        </div>
        <!-- /.container -->
    </footer>
{% endblock %}

<!-- Bootstrap core JavaScript -->
<script src="{{ asset('jquery/jquery.min.js') }}"></script>
<script src="{{ asset('bootstrap/js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>
