{% extends 'base.html.twig' %}

{% block main %}
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

            <h1 class="my-4">Page Heading
                <small>Secondary Text</small>
            </h1>

            <!-- Blog Post -->
            {% for post in posts %}
                <div class="card mb-4">
                    <img src="{{ asset('img/uploads/' ~  post.image ) }}" alt="" width="100%">
                    <div class="card-body">
                        <h2 class="card-title">{{ post.title }}</h2>
                        <p class="card-text">{{ post.beschrijving }}</p>
                        <a href="#" class="btn btn-primary">Meer lezen &rarr;</a>
                    </div>
                    <div class="card-footer text-muted">
                        Gepost op {{ post.date|date('F d, Y') }} om {{ post.date|date('H:i') }}
                        door {{ post.user.username }}
                    </div>
                </div>
            {% endfor %}

            <!-- Pagination -->
            <ul class="pagination justify-content-center mb-4">
                <li class="page-item">
                    <a class="page-link" href="#">&larr; Older</a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link" href="#">Newer &rarr;</a>
                </li>
            </ul>

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

            <!-- Search Widget -->
            <div class="card my-4">
                <h5 class="card-header">Search</h5>
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
{% endblock %}
